@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

.Image {
  width: 200px;
  height: 200px;
}

.divSize {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
}

.h1Size {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5rem;
}

/* To center the div in the middle of the screen */
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ComethWallet {
  width: 100vw; /* w-screen */
  max-width: 28rem; /* max-w-md */
  flex: 1 1 auto; /* flex-auto */
  overflow: hidden; /* overflow-hidden */
  border-radius: 0.25rem; /* rounded */
  background-color: rgb(27, 161, 69); /* bg-white */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.5; /* leading-6 */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /* shadow-lg */
  position: relative; /* Required for ring to work */
}

/* This is for the ring effect */
.ComethWallet:before {
  position: absolute;
  top: -1px; /* ring-1 */
  right: -1px; /* ring-1 */
  bottom: -1px; /* ring-1 */
  left: -1px; /* ring-1 */
  border: 1px solid rgba(128, 128, 128, 0); /* ring-gray-900/5 */
  border-radius: inherit; /* Match the parent's border-radius */
}
